/* line 17, ../../../../../usr/local/rvm/gems/ruby-2.1.1@rails4/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/rvm/gems/ruby-2.1.1@rails4/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/rvm/gems/ruby-2.1.1@rails4/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/rvm/gems/ruby-2.1.1@rails4/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/rvm/gems/ruby-2.1.1@rails4/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/rvm/gems/ruby-2.1.1@rails4/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/rvm/gems/ruby-2.1.1@rails4/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/rvm/gems/ruby-2.1.1@rails4/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/rvm/gems/ruby-2.1.1@rails4/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media only screen {
  /* line 2, ../sass/_layout.scss */
  html {
    background-color: #050705;
  }

  /* line 6, ../sass/_layout.scss */
  body {
    height: 100%;
  }

  /* line 10, ../sass/_layout.scss */
  #content {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #373937;
  }

  /* line 19, ../sass/_layout.scss */
  .snapDrawer {
    z-index: 0;
  }

  /* line 23, ../sass/_layout.scss */
  .snapDrawers {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  /* line 30, ../sass/_layout.scss */
  #playContainer {
    width: 100%;
    background-color: #373937;
    display: none;
  }

  /* line 36, ../sass/_layout.scss */
  .notSelectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }

  /* line 46, ../sass/_layout.scss */
  .selected {
    background-color: red;
  }

  /* line 50, ../sass/_layout.scss */
  #header {
    width: 100%;
    height: 100px;
    background-color: #050705;
    z-index: 100;
  }

  /* line 56, ../sass/_layout.scss */
  #toggleWrapper {
    width: 40px;
    height: 100px;
    float: left;
  }

  /* line 61, ../sass/_layout.scss */
  #toggleRightWrapper {
    width: 40px;
    height: 100px;
    float: left;
    right: 0;
    position: absolute;
  }

  /* line 68, ../sass/_layout.scss */
  #logoWrapper {
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
  }

  /* line 74, ../sass/_layout.scss */
  #menuWrapper {
    width: 50%;
    height: 100px;
    float: right;
    margin-right: 60px;
  }

  /* line 80, ../sass/_layout.scss */
  #logoType {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color: #ff5900;
    padding-top: 30px;
  }

  /* line 86, ../sass/_layout.scss */
  .menuItem {
    height: 100px;
    width: 50%;
    line-height: 100px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    float: left;
  }

  /* line 94, ../sass/_layout.scss */
  #tagMenuItem {
    float: left;
    text-align: right;
  }

  /* line 98, ../sass/_layout.scss */
  #tagMenuItem p {
    margin-right: 10px;
  }

  /* line 101, ../sass/_layout.scss */
  #playMenuItem p {
    margin-left: 10px;
  }

  /* line 104, ../sass/_layout.scss */
  #toggleButton {
    width: 40px;
    height: 40px;
    background-image: url("../img/snapicon.png");
    background-size: 30px 30px;
    background-position: 5px 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
  }

  /* line 115, ../sass/_layout.scss */
  .snapDrawerLeft {
    position: fixed;
    left: 0;
    height: 100%;
    width: 266px;
    background-color: #171917;
  }

  /* line 125, ../sass/_layout.scss */
  .snapDrawerRight {
    position: fixed;
    right: 0;
    height: 100%;
    width: 266px;
    z-index: 0;
    background-color: #171917;
  }

  /* line 135, ../sass/_layout.scss */
  #tagInfoWrapper {
    float: left;
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
  }
}
@media only screen and (min-width: 421px) {
  /* line 149, ../sass/_layout.scss */
  #tagMenuItem p {
    margin-right: 30px;
  }

  /* line 152, ../sass/_layout.scss */
  #playMenuItem p {
    margin-left: 30px;
  }

  /* line 155, ../sass/_layout.scss */
  #menuWrapper {
    width: 220px;
  }

  /* line 158, ../sass/_layout.scss */
  #logoWrapper {
    padding-left: 50px;
  }
}
@media only screen and (min-width: 721px) {
  /* line 165, ../sass/_layout.scss */
  #menuWrapper {
    position: absolute;
    left: 50%;
    margin-left: -110px;
  }
}
@media only screen {
  /* line 3, ../sass/_tag_page.scss */
  #tagContainer {
    width: 100%;
    background-color: #373937;
    display: block;
  }

  /* line 9, ../sass/_tag_page.scss */
  #tagBrowseContainer {
    width: 100%;
    height: 100%;
  }

  /* line 14, ../sass/_tag_page.scss */
  #tagBrowseHeader {
    height: 120px;
    width: 100%;
    top: 0;
  }

  /* line 20, ../sass/_tag_page.scss */
  .tagBrowseHeaderBlock {
    width: 100%;
    height: 40px;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 40px;
  }

  /* line 31, ../sass/_tag_page.scss */
  #tagBrowseAllMusic {
    width: 100%;
  }

  /* line 35, ../sass/_tag_page.scss */
  #tagBrowseFooter {
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 4px solid #202220;
    background-color: #202220;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 49, ../sass/_tag_page.scss */
  #tagSearch {
    width: 100%;
    height: 31px;
    background-color: transparent;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
  }

  /* line 64, ../sass/_tag_page.scss */
  #tagBrowseContent {
    float: left;
    width: 100%;
    margin-left: 5%;
    overflow: auto;
  }

  /* line 71, ../sass/_tag_page.scss */
  .tagPageListItem {
    margin: 10px;
    color: white;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    padding: 5px;
    width: 27%;
    background-color: #2d2f2d;
    border-bottom: 5px solid #ff5900;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }

  /* line 91, ../sass/_tag_page.scss */
  .tagPageListItemSpan {
    width: 100%;
    float: left;
  }
}
@media only screen and (min-width: 721px) {
  /* line 103, ../sass/_tag_page.scss */
  #tagBrowseHeader {
    height: 40px;
  }

  /* line 107, ../sass/_tag_page.scss */
  .tagBrowseHeaderBlock {
    width: 33%;
  }

  /* line 111, ../sass/_tag_page.scss */
  #tagBrowseAllMusic {
    width: 34%;
  }
}
@media only screen {
  /* line 2, ../sass/_play_page.scss */
  #playContent {
    overflow: auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 50px;
  }

  /* line 10, ../sass/_play_page.scss */
  .verticalTrack {
    margin-top: 50px;
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
  }

  /* line 18, ../sass/_play_page.scss */
  .trackBlock {
    width: 100%;
    height: 150px;
    float: left;
  }

  /* line 24, ../sass/_play_page.scss */
  .contentBlock {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 140px;
    color: white;
    background-color: #2d2f2d;
    border-bottom: 5px solid #ff5900;
  }

  /* line 34, ../sass/_play_page.scss */
  .addBlock {
    font-size: 70px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 140px;
    color: white;
    font-weight: bold;
    background-color: #676967;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  /* line 47, ../sass/_play_page.scss */
  #generateWrapper {
    width: 100%;
    float: left;
  }

  /* line 52, ../sass/_play_page.scss */
  #generatePlayListButton {
    text-align: center;
    font-family: 'Lato', sans-serif;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    float: left;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 30px;
  }

  /* line 69, ../sass/_play_page.scss */
  #generatePlayListButton p:hover {
    color: #AAACAA;
    text-decoration: underline;
  }
}
@media only screen and (min-width: 721px) {
  /* line 83, ../sass/_play_page.scss */
  #playContent {
    width: 650px;
    margin: auto;
  }
}
/* line 1, ../sass/_login_page.scss */
body {
  background-color: #050705;
}

/* line 5, ../sass/_login_page.scss */
#loginHeader {
  width: 100%;
  height: 200px;
  float: left;
}

/* line 11, ../sass/_login_page.scss */
#loginLogoWrapper {
  text-align: center;
  height: 200px;
  padding-top: 100px;
}

/* line 17, ../sass/_login_page.scss */
#loginDescriptionWrapper {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

/* line 27, ../sass/_login_page.scss */
#loginWithSpotifyWrapper {
  float: left;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 70px;
}

/* line 34, ../sass/_login_page.scss */
#loginWithSpotifyWrapper a {
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 43, ../sass/_login_page.scss */
#loginWithSpotifyButtonWrapper {
  background-color: #373937;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  border: 1px solid #373937;
  border-radius: 5px;
  width: 180px;
  position: absolute;
  left: 50%;
  margin-left: -111px;
}

/* line 3, ../sass/_leftPanel.scss */
#leftPanelHead {
  float: left;
  height: 100px;
  width: 266px;
}

/* line 9, ../sass/_leftPanel.scss */
#leftPanelCenter {
  float: left;
  width: 266px;
}

/* line 14, ../sass/_leftPanel.scss */
#leftPanelSearchDiv {
  float: left;
  width: 100%;
}

/* line 20, ../sass/_leftPanel.scss */
#leftPanelForm {
  left: 20px;
  margin: 0 auto;
  width: 200px;
}

/* line 34, ../sass/_leftPanel.scss */
.leftPanelListItem {
  margin: 10px;
  color: white;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  padding: 5px;
  width: 90%;
  background-color: #2d2f2d;
  border-bottom: 5px solid #88A818;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
