$panelWidth: 266px;

#leftPanelHead {
    float: left;
    height: 100px;
    width: $panelWidth;
}

#leftPanelCenter {
    float: left;
    width: $panelWidth;
}

#leftPanelSearchDiv{
    float: left;
    width: 100%;
   // margin: 0 auto; 
}

#leftPanelForm {
    left: 20px;
    margin: 0 auto;   
    width: 200px;
}

#leftPanelSearchbar {

}

#leftPanelList {
    
}

.leftPanelListItem {
    margin: 10px;
    color: white;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    padding: 5px;
    width: 90%;
    background-color: $fifth_background;
    border-bottom: 5px solid #88A818;
    //border-bottom: 5px solid $first_foreground;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#leftPanelSearchbar {
    float: left;
    width: 100%;
    border: 0;
    height: 20px;
}

#addTagButton {
    float: left;
    color: white;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    right: 0;
    margin-left: 227px;
    margin-top: 10px;
}