@media only screen {
    #playContent {
        overflow: auto;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 50px;
    }    
    
    .verticalTrack {
        margin-top: 50px;
        width: 29%;
        margin-left: 2%;
        margin-right: 2%;
        float: left;
    }
    
    .trackBlock {
        width: 100%;
        height: 150px;
		float: left;
    }
    
    .contentBlock {
        font-size: 15px;
        font-family: 'Lato', sans-serif;
        text-align: center;
        line-height: 140px;
        color: white;
        background-color: $fifth_background;
        border-bottom: 5px solid $first_foreground;
    }
    
    .addBlock {
        font-size: 70px;
        font-family: 'Lato', sans-serif;
        text-align: center;
        line-height: 140px;
        color: white;
        font-weight: bold;
        background-color: #676967;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
    }
    
    #generateWrapper {
        width: 100%;
        float: left;
    }
    
    #generatePlayListButton {
        text-align: center;
        font-family: 'Lato', sans-serif;
        height: 40px;
        width: 200px;
        line-height: 40px;
        text-align: center;
        float: left;
        position: absolute;
        left: 50%;
        margin-left: -100px;
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        margin-top: 30px;
    }
    
    #generatePlayListButton p:hover {
        color: #AAACAA;
        text-decoration: underline;
    }
    
}

@media only screen
and (min-width: 421px) {
    
}

@media only screen
and (min-width: 721px) {
    #playContent {
        width: 650px;
        margin: auto;
    }
}