@import "compass/css3";
@media only screen {
    #tagContainer {
        width: 100%;
        background-color: $second_background;
        display: block;
    }
        
    #tagBrowseContainer {
        width: 100%;
        height: 100%;
    }
    
    #tagBrowseHeader {
        height: 120px;
        width: 100%;
        top: 0;
    }
    
    .tagBrowseHeaderBlock {
        width: 100%;
        height: 40px;
        float: left;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        color: white;
        text-align: center;
        line-height: 40px;
    }
    
    #tagBrowseAllMusic {
        width: 100%;
    }
    
    #tagBrowseFooter {
        width: 100%;
        height: 35px;
        position: absolute;
        bottom: 0;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        border-top: 4px solid #202220;
        background-color: #202220;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #tagSearch {
        width: 100%;
        height: 31px;
        background-color: transparent;
        border: 0;
        outline: 0;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        color: white;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
    }
    
    #tagBrowseContent {
        float: left;
        width: 100%;
        //background-color: yellow;
        overflow: auto;
    }
    
    #tagPageList {
        
    }
    
    .tagPageListItem {
        margin: 10px 10px 10px 10px;   
        color: white;
        //background: #188a88;
        vertical-align: top;
        text-align: center;
        display: inline-block;
        padding: 5px;
        width: 27%;
        border-style: solid;
        border-color: gray;
        border-width:3px;
        //width: 50px;
        @include border-radius(20px);
    }
    .selected{
        border-color: $first-foreground !important;
    }
    .tagPageListItemSpan{
        width:100%;
        float:left;
    }
}

@media only screen
and (min-width: 421px) {
}

@media only screen
and (min-width: 721px) {
    #tagBrowseHeader {
        height: 40px;
    }
    
    .tagBrowseHeaderBlock {
        width: 33%;
    }
    
    #tagBrowseAllMusic {
        width: 34%;
    }
}