$first_background: #050705;
$second_background: #373937;
$third_background: #171917;
$fourth_background: #474947;
$fifth_background: #2D2F2D;

$first_foreground: #FF5900;
$shaded_first_foreground: #AF0900;

$header_height: 100px;