<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tag-n-play</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/master.css">
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='snapDrawers'>
        <div class="snapDrawer snapDrawerLeft">
          <div id='leftPanelHead'></div>
          <div id="leftPanelSearchDiv">
            <input type='text' id="leftPanelSearchbar">
            <button type="submit" id="addTagButton" onClick="addTagToList()">Add</button>
          </div> 
          <div id='leftPanelCenter'>
            <ul id="leftPanelList"></ul>
          </div>
        </div>
        <div class="snapDrawer snapDrawerRight">
            <div id="playlistPreview"></div>
        </div>
    </div>
    <div id='content'>
      <div id="header">
        <div id="toggleWrapper">
          <div id="toggleButton" onclick="toggle_click_left()"></div>
        </div>
        <div id="logoWrapper">
          <div id="logoType" class="notSelectable">Tag n'<br>play</div>
        </div>
        <div id="menuWrapper">
          <div id="tagMenuItem" class="menuItem notSelectable" onclick="mode_click(0)"><p onmouseover="mode_mouse_enter(0)" onmouseout="mode_mouse_leave(0)">Tag</p></div>
          <div id="playMenuItem" class="menuItem notSelectable" onclick="mode_click(1)"><p onmouseover="mode_mouse_enter(1)" onmouseout="mode_mouse_leave(1)">Play</p></div>
        </div>
        <div id="toggleRightWrapper">
          <div id="toggleButton" onclick="toggle_click_right()"></div>
        </div>
      </div>
      <div id="tagContainer">
        <div id="tagBrowseContainer">
          <div id="tagBrowseHeader">
              <div id="tagBrowseYourMusic" class="tagBrowseHeaderBlock notSelectable" onclick="tag_browse_click(0)" onmouseover="tag_browse_mouse_enter(0)" onmouseout="tag_browse_mouse_leave(0)">
                  Your Music
              </div>
              <div id="tagBrowseYourPlaylists" class="tagBrowseHeaderBlock notSelectable" onclick="tag_browse_click(1)" onmouseover="tag_browse_mouse_enter(1)" onmouseout="tag_browse_mouse_leave(1)">
                  Your Playlists
              </div>
              <div id="tagBrowseAllMusic" class="tagBrowseHeaderBlock notSelectable" onclick="tag_browse_click(2)" onmouseover="tag_browse_mouse_enter(2)" onmouseout="tag_browse_mouse_leave(2)">
                  All Music
              </div>
          </div>
          <div id="tagInfoWrapper" class="notSelectable"></div>
          <div id="tagBrowseContent">
            <ul id="tagPageList"></ul>
          </div>
          <div id="tagBrowseFooter">
              <form>
                  <input type="text" id="tagSearch" onfocus="tag_search_focused()" onblur="tag_search_unfocused()"/>
              </form>
          </div>
        </div>
      </div>
      <div id="playContainer">
          <div id="generateWrapper">
            <div id="generatePlayListButton" class="notSelectable" onclick="generatePlaylist()"><p>Create Playlist</p></div>
          </div>
          <div id="playContent">
            <div id="vt1" class="verticalTrack">
            <!--<div class="trackBlock contentBlock notSelectable" ondrop="drop(event)" ondragover="allowDrop(event)">Test1 - Test1</div>
            <div class="trackBlock contentBlock notSelectable" draggable="true" ondragstart="drag(event)">asd - Hej</div>-->
              <div class="trackBlock addBlock notSelectable" ondrop="drop(event)" ondragover="allowDrop(event)">+</div>
            </div>
            <div id="vt2" class="verticalTrack">
              <div class="trackBlock addBlock notSelectable" ondrop="drop(event)" ondragover="allowDrop(event)">+</div>
            </div>
            <div id="vt3" class="verticalTrack">
              <div class="trackBlock addBlock notSelectable" ondrop="drop(event)" ondragover="allowDrop(event)">+</div>
            </div>
          </div>
      </div>
    </div>  
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/vendor/snap.js"></script>
    <script src="/js/modules/songModule.js"></script>
    <script src="/js/modules/playlistModule.js"></script>
    <script src="/js/modules/combination.js"></script>
    <script src="/js/modules/criteria.js"></script>
    <script src="/js/playPage.js"></script>
    <script src="/js/populate.js"></script>
    <script src="/js/drawer.js"></script>
    <script src="/js/general.js"></script>
    <script src="/js/leftPanel.js"></script>
    <script src="/js/tagPage.js"></script>
    <script src="/js/dnd.js"></script>
  </body>
</html>
